<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/albors.css">
</head>
<body class="bgc1 tc2">
  
  <div id="box">
    <a href="/" id="nimgriz" class="text-center tc3">Nim Griz</a>
    <h1 id="" class="text-xxlarge text-center tc2">Platforms</h1>
    <div id="platforms">
      {{range .Platforms}}
      <a href="/platform/{{.}}">{{.}}</a>
      {{end}}
    </div>
  </div>
</body>
</html>